<div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 fill">
        <h3 class="coca-cola-text">Create outlet</h3>

        <label>Outlet</label>
        <ngx-select-dropdown tabindex="0" [multiple]="false" [(ngModel)]="singleSelect" [config]="config"
          [options]="options"></ngx-select-dropdown>
        <br>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" *ngIf="singleSelect">

          <div class="form-group">
            <label>Name</label>
            <input type="text" formControlName="name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
              <div *ngIf="f['name'].errors.required">Outletname is required</div>
              <div *ngIf="f['name'].errors.minlength">Outletname must be at least 2 characters</div>
            </div>
          </div>
          <div class="form-group">
            <label>Address</label>
            <input type="text" formControlName="address" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['address'].errors }" />
            <div *ngIf="submitted && f['address'].errors" class="invalid-feedback">
              <div *ngIf="f['address'].errors.required">First Name is required</div>
              <div *ngIf="f['address'].errors.minlength">First name must be at least 2 characters</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn coca-cola-background text-white">Register</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
<br>