<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Support"></Label>
</ActionBar>

<FlexboxLayout class="page">
    
    <StackLayout class="form">
        <Image src="res://tester" width="80%" class="input-field"></Image>
        <Label></Label>
        <Label class="page-placeholder" color="#eb1c24" style="font-weight: bold; font-size: 30"
        text="Email support:"></Label>
        <Label></Label>
        <Label text="The email was sent successfully!" class="page-placeholder" *ngIf="sent"></Label>
        <StackLayout class="input-field">
            <TextView style="margin-top: 15px" borderColor="#eb1c24" borderWidth="1" height="70%" width="100%"
            hint="Enter your support request"
            style="width: 100%; height: 70%; border-width: 5%; border-color: #eb1c24; border-radius: 15; padding: 10%"
            returnKeyType="send" class="input input-border" [(ngModel)]="text" #textData="ngModel"></TextView>
        </StackLayout>
        <Button [text]="'Send'" (tap)="sendEmail()" class="btn btn-primary m-t-20"></Button>
    </StackLayout>
</FlexboxLayout>