<br>
<div style="display: block">
  <div class="char-container">
    <canvas baseChart height="75" [data]="char$ | async" [labels]="doughnutChartLabels"
      [chartType]="doughnutChartType"
      [colors]="[{backgroundColor: ['rgba(255, 00, 00, 0.7)', 'rgba(254, 241, 96, 0.7)', 'rgba(00, 00, 00, 0.7)']}]"
      maintainAspectRatio="false">
    </canvas>
  </div>
</div>
<br>
<form class="fill">
  <div class="form-group form-inline font-weight-bold">
    Search: <input class="form-control ml-2 custom-search coca-cola-border" type="text" name="searchTerm"
      [(ngModel)]="service.searchTerm" />
    <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col" class="pr-1 text-right" sortable="updatedByUser" sub="username" (sort)="onSort($event)">User</th>
        <th scope="col" class="pl-0"><span class="oi oi-sort-ascending"></span></th>
        <th scope="col" class="pr-1 text-right" sortable="outlet" sub="name" (sort)="onSort($event)">Outlet</th>
        <th scope="col" class="pl-0"><span class="oi oi-sort-ascending"></span></th>
        <th scope="col" class="pr-1 text-right" sortable="customer" sub="name" (sort)="onSort($event)">Customer</th>
        <th scope="col" class="pl-0"><span class="oi oi-sort-ascending"></span></th>
        <th scope="col" class="pr-1 text-right" sortable="dateCreated" (sort)="onSort($event)">Date</th>
        <th scope="col" class="pl-0"><span class="oi oi-sort-ascending"></span></th>
        <th scope="col" class="pr-1 text-right" sortable="status" (sort)="onSort($event)">Status</th>
        <th scope="col" class="pl-0"><span class="oi oi-sort-ascending"></span></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let redemption of redemptions$ | async">
        <th scope="row">{{ redemption.redemptionCode.code }}</th>
        <td class="text-right">
          <ngb-highlight [result]="redemption.updatedByUser.username" [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td></td>
        <td class="text-right">
          <ngb-highlight [result]="redemption.outlet.name" [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td></td>
        <td class="text-right">
          <ngb-highlight [result]="redemption.customer.name" [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td></td>
        <td class="text-right">
          <ngb-highlight [result]="redemption.dateCreated | date:'short'" [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td></td>
        <td class="text-right">
          <ngb-highlight [result]="redemption.status" [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="20">20 items per page</option>
      <option [ngValue]="50">50 items per page</option>
      <option [ngValue]="redemptions.length">Show all</option>
    </select>
  </div>

</form>