<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
        <StackLayout row="0" class="sidedrawer-header" style="background-color: #ffffff; height: 15%;">
            <Label></Label>
            <Image src="res://tester" width="80%" class="input-field"></Image>
        </StackLayout>
    
        <ScrollView row="1" class="sidedrawer-content">
            <StackLayout>
                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/home')" (tap)="onNavItemTap('/home')">
                    <Label col="0" text="&#xf02a;" class="fas"></Label>
                    <Label col="1" text="Barcodes" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/records')" (tap)="onNavItemTap('/records')">
                    <Label col="0" text="&#xf03a;" class="fas"></Label>
                    <Label col="1" text="Records" class="p-r-10"></Label>
                </GridLayout>
                
                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/settings')" (tap)="onNavItemTap('/settings')">
                    <Label col="0" text="&#xf059;" class="fas"></Label>
                    <Label col="1" text="Support" class="p-r-10"></Label>
                </GridLayout>
                
                <StackLayout class="hr-light"></StackLayout>
                
                <GridLayout columns="auto, *" class="sidedrawer-list-item" (tap)="logout()">
                    <Label col="0" text="&#xf2f5;" class="fas"></Label>
                    <Label col="1" text="Sign out" class="p-r-10"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>

    </GridLayout>

    <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>

